<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection Monitoring</title>
    <script>
        function startVideo() {
            document.getElementById('video-frame').style.display = 'block';
        }
    </script>
</head>

<body>
    <h1>Maju Jaya Farm</h1>
    <form method="POST" onsubmit="startVideo()">
        <button type="submit">Start Detection</button>
    </form>
    <img src="{{ url_for('video') }}" width="800" id="video-frame">
</body>

</html>